@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Nunito:wght@300;500&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{  
  --BG-COLOR:rgb(9, 9, 29);
  --ALT-COLOR:rgb(19, 135, 19);
  --ALT-COLOR2:rgb(210, 36, 71);
  --GRAD:radial-gradient(black,grey);

  --FONT1:Michroma;
}

body{
    overflow:hidden;
}

video{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    height:auto;
}

header{
    position: relative;
   display: flex;
   justify-content:center ;
   align-items: center;
   height: 100px;
   z-index: 1;
}
h1:first-child{
    color: var(--ALT-COLOR);
    text-shadow:0px 0px 7px var(--ALT-COLOR);
}

h1:last-child{
    color: var(--ALT-COLOR2);
    text-shadow: 2px var(--ALT-COLOR2);
    text-shadow:0px 0px 7px var(--ALT-COLOR2);
}

#barren,#verdant{
    display: none;
}

header h1{
   font-size: 2rem;
   font-family: var(--FONT1);
   padding: 1rem;
   z-index: 1;
}

.switch-btn{
  height: 80px;
  width: 200px;
  display: flex;
  align-items: center;
  border: 0.3px solid black;
  border-radius: 70px;
  cursor: pointer;
  margin-top: 3rem;
  background-color: var(--ALT-COLOR);
  box-shadow: 0px 0px 20px var(--BG-COLOR) inset,0px 0px 30px var(--ALT-COLOR);
  z-index: 1;
}


.switch-btn input{
    appearance: none;
    align-self: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch-btn span{
   /*  position: absolute; */
    position: relative;
    background-image: url('img/earth.png');
    height: 80px;
    width: 132px;
    left:-130px;
    background-size: auto 80px;
    background-repeat: no-repeat;
    transition: all 0.5s;
    transform: scaleX(0px);
}

.switch-btn input:checked ~ span{
    left:5px;
    background-image: url('img/pol-earth.png');
    height: 80px;
    width: 132px;
    background-size: auto 80px;
    background-repeat: no-repeat;
    transition: all 0.5s;
    transform: scaleX(5px);
}

main{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.bt{
    z-index: 1;
    height: 50px;
    width: 50px;
    background-image: var(--GRAD);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.bt img{
    display: block;
    width: 70%;
    height: auto;
}


@media screen and (max-width:760px) {
     
    header h1{
        font-size: 1rem;
    }
    .switch-btn{
        height:50px;
        width: 120px;
     }
   
    .switch-btn span{
        height:50px;
        width: 90px;
        background-size: auto 50px;
        left:-60px
    }

    .switch-btn input:checked ~ span{
        height:50px;
        width: 90px;
        background-size: auto 50px;
    }
}
